@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}
body {
  width: 100%;
  height: 100vh;
}

.sale-text {
  font-size: 12px;
  background-color: #ffe8e8;
  padding: 8px;
  text-align: center;
  color: #c88686;
  font-weight: 600;
}

.logo {
  width: 7rem;
  object-fit: contain;
  align-self: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 2rem;
  padding: 0.5rem 3rem;
}

.header-left {
  align-self: flex-end;
}
.header-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header-right-top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top-language-currency {
  display: flex;
}
.lang-curr {
  position: relative;
  left: 0;
  top: 50%;
  padding: 4px;
}

.icon-img {
  object-fit: contain;
}
.nav-item {
  flex: 1;
  display: flex;
  gap: 4px;
}
.nav-item svg {
  max-width: 16px;
}

.header-bottom-right {
  display: flex;
  min-width: 100%;
  justify-content: space-evenly;
}
.nav-container {
  background: black;
  padding: 1rem;
  font-size: 16px;
}
.nav-list {
  display: flex;
  list-style: none;
  color: white;
  font-weight: bolder;
  gap: 1.5rem;
  justify-content: space-around;
  max-width: 80%;
}
.line {
  background-color: black;
  border: 1.5px solid black;
  width: 2rem;
  margin: 0 auto;
}

.hero-section {
  background-size: cover;
  height: 80%;
  width: 100%;
  position: relative;
  background-image: url('https://new-ella-demo.myshopify.com/cdn/shop/files/slideshow-1.jpg?v=1632195167&width=1880');
}
.hero-section-2 {
  background-size: cover;
  height: 80%;
  width: 100%;
  position: relative;
  background-image: url('https://new-ella-demo.myshopify.com/cdn/shop/files/banner-1-compressor.jpg?v=1632456769&width=2000');
}

.hero-section-text {
  max-width: 30rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  left: 2rem;
  position: absolute;
}

.hero-section-2-text{
    max-width: 30rem;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    right: 5%;
    position: absolute;
}


.hero-section-text h1 {
  font-size: 3rem;
  font-weight: bolder;
}
.cta-btn {
  background-color: #232323;
  color: white;
  font-weight: bolder;
  padding: 0.6rem 2.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
}
.cta-btn:hover {
  background-color: white;
  color: black;
}
.category-section {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  gap: 2rem;
  padding: 3rem;
}
.category-box-wrapper {
  width: 100%;

  overflow: hidden;
}

.category-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 13rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.category-box span {
  margin: auto;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: bold;
}

.category-box span:hover {
  text-decoration: underline;
}
.category-box-wrapper:hover .category-box {
  transform: scale(1.1);
}

.new-arrivals {
  padding: 1rem 3rem;
display: flex;
flex-direction: column;
justify-content: center;
}

.new-arrivals a {
  font-size: 12px;

  color: grey;
}

.new-arrivals-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals-heading p {
  font-weight: bolder;
  font-size: 20px;
  flex: 1;
  display: block;
  text-align: center;
}
.solid-line {
  border: 1.5px solid black;
  flex: 1;
  height: 0;
}
.products-container{
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 3rem;
    max-width: 100%;
    flex-wrap: wrap;
}
.product-card{
    min-width: 20%;
    flex: 1;
}

.product-card img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.product-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}



.product-details span{
    color: grey;
    font-size: 14px;
}

.product-details p{
    font-size: 12px;
}

.product-img{
    position: relative;
    transition: all 0.5s ease;
}
.product-img:hover .quick-add-btn{
    opacity: 1;
    transform: translate(0);
}

.quick-add-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: white;
    /* color: white; */
    border: 1px solid black;
    padding: 0.7rem;
    transition:all 0.4s ease ;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(70%);
}

.quick-add-btn:hover{
    background-color: black;
    color: white;
}


  
  .footer {
    background-color: #232323;
    color: #ccc;
    padding: 20px 0;
    padding: 3rem;
  }
  
  .footer-columns {
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom:2rem ;
    gap: 8rem;
  }
  
  
  
  .footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;


  }
  
  .footer-list li {
    margin-bottom: 5px;
    font-size: 12px;

  }
  
  .footer-list a {
    color: #ccc;
    text-decoration: none;
    /* font-weight: bold; */
  }
  
  .footer-list a:hover {
  
    text-decoration: underline;
  }
  
  .copyright {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    
  }
 .newsletter-signup{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.7rem;
 }
  
  .newsletter-signup-heading {
    font-size: 16px;
    font-weight: bold;
   
    color: white;
  }
  
  .newsletter-signup-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
 
    background-color: transparent;
   
  }
  .newsletter-input-button-container{
    display: flex;
    
    gap: 1rem;
  }

  ::placeholder{
    color: #ccc;
    font-size: 10px;
  }
  
  .newsletter-signup-button {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px 2rem;
    border: 1px solid black;
  height: 100%;
    cursor: pointer;
  }
  
  .newsletter-signup-button:hover {
    background-color: black;
    color: white;
  }
  


  
 
  
/* Responsive Media Query for screens up to 768px */
@media (max-width: 768px) {
  /* Header styles for smaller screens */
  .main-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      display: none;
  }

  .body{
    width: 100%;
  }

  .header-info {
      flex-direction: column;
  }

  .language-currency {
      flex-direction: column;
      align-items: center;
  }

  .language, .currency {
      margin-top: 10px;
  }

  /* Navigation styles for smaller screens */
  .main-navigation {
      flex-direction: column;
  }

  .nav-item {
      flex: none;
      margin-bottom: 10px;
  }
  

  .nav-icon {
      max-width: 12px;
  }

  /* Hero Section styles for smaller screens */
  .hero-section {
      background-image:url('https://new-ella-demo.myshopify.com/cdn/shop/files/slide1-mb-min.jpg?v=1661416101&width=375') ;
      background-position: center;
      color: white;
  }

  .hero-section-2{
    background-image:url('https://new-ella-demo.myshopify.com/cdn/shop/files/banner-1-mb-min.jpg?v=1632459215&width=750') ;
    background-position: center;
    color: white;
  }
  
 .line{
  border-color: white;
 
 }
  .cta-button {
      width: 80%;
  }
  .products-container{
    flex-wrap: wrap;
  }

  /* Product card styles for smaller screens */
  .product-card {
    min-width: 100%;

  }

  .category-section{
    flex-wrap: wrap;
  }

  .footer{
    max-width: 100%;
  }
.footer-column {
    flex: 1;
}

}

  